services:
  redis:
    image: redis:7.4.7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: >
      redis-server
      --appendonly yes
      --requirepass myStrongPassword
      --maxmemory 64mb
      --maxmemory-policy allkeys-lru

volumes:
  redis_data:
    driver: local